.main {
  color: #FFF;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 16px);
  height: 64px;
  background-color: #6664;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  padding: 0px 4px;
}

.nav > span > h1 {
  font-size: 21px;
  font-weight: 700;
  color: #FFF !important;
}

.nav > span {
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightAligned {
  transform: translateX(20px);

}

.pointer {
  cursor: pointer;
}

.device {
  max-height: 100%;
  max-width: 15vw;
  width: auto;
  aspect-ratio: 9/19.5
}

