.pointer {
  cursor: pointer;
}

.centered {
  display: flex;
  margin: 0 auto;
}

.hero {
  flex: 1;
  width: 100%;
  display: flex;
  color: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1150px) {
  .hero {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}
