.nav {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 16px);
  height: 64px;
  background-color: #CCC6;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  padding: 0px 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav > span > h1 {
  font-size: 28px;
  font-weight: 700;
}

.row {
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightAligned {
  transform: translateX(20px);
}

.pointer {
  cursor: pointer;
}