.main {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
}

.waves {
  position:relative;  
}

@media (max-width: 1150px) {
  .main {
    overflow-x: hidden;
  }
}
